*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

background:#050505;

overflow:hidden;

font-family:'Poppins',sans-serif;

color:white;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.hero{

text-align:center;

z-index:5;

}

h3{

font-size:25px;

letter-spacing:4px;

color:#d4af37;

margin-bottom:10px;

}

h1{

font-size:55px;

font-family:'Playfair Display',serif;

}

p{

margin-top:20px;

opacity:.7;

font-size:18px;

}

button{

margin-top:40px;

padding:15px 45px;

background:#d4af37;

border:none;

border-radius:50px;

font-size:18px;

cursor:pointer;

transition:.4s;

}

button:hover{

transform:scale(1.05);

}

#stars{

position:fixed;

width:100%;

height:100%;

background:black;

  }
